<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#023815">
    <meta name="theme-color" content="#023815">

    <title>Jrigg Construction - About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" />
</head>
<body>
    <header class="header">
        <div class="nav__header">
            <a href="/" class="header__logo"></a>

            <button class="header__toggle" id="header-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <footer class="header__social">
            <a href="https://www.instagram.com/jrigg_broadway/">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="#">
                <i class="bx bxl-facebook-square"></i>
            </a>
            <a href="#">
                <i class="bx bxl-twitter"></i>
            </a>
        </footer>

        <nav>
            <div class="nav">
                <ul>
                    <li class="nav__item">
                        <a class="nav__link" href="/about.html">About Us</a>
                    </li>
                    <li class="nav__item dropdown">
                        <a href="#0" class="dropdown__header">
                            Projects
                            <i class="bx bx-chevron-down dropdown__toggle"></i>
                        </a>
                        <ul class="dropdown__menu">
                            <li class="dropdown__item">
                                <a href="/project-singular.html" class="nav__link">Pershore</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/project-singular.html" class="nav__link">Todenham</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/project-singular.html" class="nav__link">Chastleton</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/project-singular.html" class="nav__link">Stanton</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/project-singular.html" class="nav__link">Broadway</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/project-singular.html" class="nav__link">The Tews</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/projects.html" class="nav__link">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="/delivery.html" class="nav__link">Delivery</a>
                    </li>
                    <li class="nav__item">
                        <a href="/people.html" class="nav__link">People</a>
                    </li>
                    <li class="nav__item">
                        <a href="/associates.html" class="nav__link">Associates</a>
                    </li>
                    <li class="nav__item">
                        <a href="/recruitment.html" class="nav__link">Recruitment</a>
                    </li>
                    <li class="nav__item">
                        <a href="/contact.html" class="nav__link">Contact</a>
                    </li>
                    <li class="nav__item">
                        <a href="https://www.instagram.com/jrigg_broadway/" class="nav__link">
                            Instagram
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <a href="#" class="login__btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ai ai-SignOut">
                    <path d="M13 12h9m0 0l-3.333-4M22 12l-3.333 4"/><path d="M14 7V5.174a2 2 0 0 0-2.166-1.993l-8 .666A2 2 0 0 0 2 5.84v12.32a2 2 0 0 0 1.834 1.993l8 .667A2 2 0 0 0 14 18.826V17"/>
                </svg>
                Login
            </a>
        </nav>
    </header>

    <main class="main">
        <section class="banner text__center">
            <div class="an-container banner__info">
                <h1 class="banner__title">Contact Information Component</h1>
            </div>
        </section>

        <section class="section" style="padding-top: 50px;">
            <div class="an-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact__map">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Pry%20Lane%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact__box">
                            <h2 class="contact__title">Our Contact Details</h2>

                            <div class="contact__data">
                                <div class="contact__info">
                                    <h3 class="contact__subtitle">Address</h3>
                                    <span class="contact__desc">
                                        <i class="bx bx-map contact__icon"></i>
                                        House, Line 1, Line 2, Town/City, Country, Postcode
                                    </span>
                                </div>
                                <div class="contact__info">
                                    <h3 class="contact__subtitle">Email</h3>
                                    <a href="mailto:email@example.com" class="contact__desc">
                                        <i class="bx bx-envelope contact__icon"></i>
                                        email@example.com
                                    </a>
                                </div>
                                <div class="contact__info">
                                    <h3 class="contact__subtitle">Phone Number</h3>
                                    <a href="tel:07123456789" class="contact__desc">
                                        <i class="bx bx-phone contact__icon"></i>
                                        +44 7123 456789
                                    </a>
                                </div>
                                <div class="contact__info">
                                    <h3 class="contact__subtitle">Opening Times</h3>
                                    <span class="contact__desc multi-line">
                                        <i class="bx bx-time contact__icon"></i>
                                        Mon - Sat: 8am - 5pm; <br>
                                        Sun: 9am - 4pm
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <p class="footer__copy">&copy; Jrigg Construction 2022</p>

            <div class="footer__links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </div>
        </footer>
    </main>

    <script src="/assets/js/header.js"></script>
    <script src="/assets/js/faq.js"></script>
</body>
</html>