.banner {
    position: relative;
    padding: 170px 0 80px;
    background-color: var(--primary-light);

    @media screen and (min-width: 992px) {
        padding-top: 130px;
    }

    &.text__center {
        text-align: center !important;
    }

    &.base {
        background-color: var(--primary-color);
    }

    &.dark {
        background-color: var(--primary-dark);
    }

    &.darkest {
        background-color: var(--primary-darkest);
    }

    &__image {
        position: relative;
        border-radius: 10px;
        height: 400px;
        overflow: hidden;
        padding: 0;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center center;
            object-position: center center;
            border-radius: 0;
        }

        &.h-500 {
            height: 500px !important;
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.88%, rgba(214, 195, 145, 0.46) 93.23%);
            background: rgba(0,0,0,0.6);
            border-radius: 10px;
            padding: 2rem;

            &-info {
                display: block;
                text-align: center;

                .row {
                    justify-content: center;
                }
            }
        }
    }

    &__info {
        z-index: 10;
    }

    &__title {
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 0;
        color: var(--white-color);

        @media screen and (min-width: 1200px) {
            font-size: 56px;
        }

        @media screen and (min-width: 1400px) {
            font-size: 64px;
        }
    }

    &__subtitle {

    }

    &__desc {
        font-size: 1rem;
        line-height: 1.6;
        margin: 0.5rem 0 0;
        color: var(--white-alt);
    }
}