.button {
    --btn-light: var(--primary-light);
    --btn-base: var(--primary-color);
    --btn-dark: var(--primary-dark);
    --btn-darkest: var(--primary-darkest);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 16px 32px;
    margin: 0;
    overflow: visible;

    outline: none;
    box-shadow: none;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    text-transform: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    i, svg {
        color: var(--white-color);
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }

    i, i::before, i::after {
        font-size: 24px;
        height: 24px;
        width: 24px;
    }

    svg {
        height: 24px;
        width: 24px;
    }

    &:hover {
        background-color: var(--btn-light);
        color: var(--white-color);
    }

    &:focus {
        background-color: var(--white-color);
        color: var(--btn-base);
    }

    &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
        background-color: var(--white-color);
        color: var(--white-alt);
        opacity: 0.5;
        pointer-events: none;

        i, svg {
            color: var(--white-alt);
        }
    }

    &.icon {
        &--right {
            padding: 12px 24px 12px 32px;

            > * {
                margin-left: 10px;
            }
        }

        &--left {
            padding: 12px 32px 12px 24px;

            > * {
                margin-right: 10px;
            }
        }

        &--only {
            padding: 12px;
        }
    }

    &.button--solid {
        background-color: var(--white-color);
        color: var(--btn-base);

        &:hover, &:focus {
            background-color: rgba(255,255,255,0.75);
            color: var(--btn-base);
        }

        &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
            opacity: 0.5;
            background-color: var(--white-color);
            color: var(--btn-base);
            pointer-events: none;
            user-select: none;
        }
    }

    &.button--outline {
        background-color: transparent;
        color: var(--white-color);
        border: 0.5px solid var(--white-color);

        &:hover {
            background-color: var(--btn-light);
            color: var(--white-color);
        }

        &:focus {
            background-color: var(--white-color);
            color: var(--btn-base);
        }

        &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
            opacity: 0.5;
            background-color: var(--btn-base);
            color: var(--white-alt);
            pointer-events: none;
            user-select: none;
        }
    }

    &.button--teritary {
        background-color: var(--btn-light);
        color: var(--white-color);

        &:hover, &:focus {
            background-color: var(--white-color);
            color: var(--btn-base);
        }

        &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
            opacity: 0.5;
            background-color: var(--btn-light);
            color: var(--white-color);
            pointer-events: none;
            user-select: none;
        }
    }

    &.button--secondary {
        --btn-light: #c6ab6620;
        --btn-base: var(--secondary-color);
        --btn-dark: #AD8E40;
        --btn-darkest: #8D7434;
        color: var(--btn-base);

        &:focus {
            background-color: var(--btn-base);
            color: var(--white-color);
        }

        &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
            opacity: 0.5;
            background-color: transparent;
            color: var(--btn-base);
            pointer-events: none;
            user-select: none;
        }

        &.button--solid {
            background-color: var(--btn-base);
            color: var(--white-color);

            &:hover, &:focus {
                background-color: var(--btn-darkest);
                color: var(--white-color);
            }

            &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
                opacity: 0.5;
                background-color: var(--btn-base);
                color: var(--white-color);
                pointer-events: none;
                user-select: none;
            }
        }

        &.button--outline {
            background-color: transparent;
            color: var(--btn-base);
            border: 0.5px solid var(--btn-base);

            &:hover {
                background-color: var(--btn-light);
                color: var(--btn-base);
            }

            &:focus {
                background-color: var(--btn-base);
                color: var(--white-color);
            }

            &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
                opacity: 0.5;
                background-color: var(--btn-base);
                color: var(--white-alt);
                pointer-events: none;
                user-select: none;
            }
        }

        &.button--teritary {
            &:hover, &:focus {
                background-color: var(--btn-base);
                color: var(--white-color);
            }

            &.disabled, &.disabled:hover, &.disabled:focus, &:disabled, &:disabled:hover, &:disabled:focus {
                opacity: 0.5;
                background-color: var(--btn-light);
                color: var(--white-color);
                pointer-events: none;
                user-select: none;
            }
        }
    }
}