/*========== Layout ==========*/
.section {
    padding: 110px 0 50px;

    @media (min-width: 768px) {
        padding: 130px 0 70px;
    }
}

.an-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.75rem;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 750px;
    }
    
    @media (min-width: 1200px) {
        max-width: 930px;
    }
    
    @media (min-width: 1440px) {
        max-width: 1110px;
    }
}