.project {
    &__slide {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 992px) {
            &-img {
                max-height: 100vh;
            }
        }
    
        &-info {
            width: 100%;
            padding: 100px 2rem 80px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            @media screen and (max-width: 992px) and (orientation: landscape) and (max-height: 450px) {
                height: 100vh;
                padding-bottom: 40px;
            }

            @media screen and (min-width: 992px) {
                padding: 130px 2rem 80px;
                height: auto;
            }

            h2 {
                font-size: 48px;
                line-height: 1.6;
                margin-bottom: 0.75rem;
            }
        }

        &-img {
            position: relative;
            width: 100%;

            img {
                width: 100%;
                height: 100vh;
                max-width: none;
                max-height: none;
                object-fit: cover;
                border-radius: 0;
            }
        }
    }

    &__maximize {
        position: absolute;
        bottom: 37px; 
        right: 30px; 
        color: var(--white-color); 
        cursor: pointer;
        font-size: 2rem;

        @media screen and (max-width: 992px) and (orientation: landscape) and (max-height: 450px) {
            bottom: 22px;
        }
    }

    &__swiper {
        .swiper-pagination {
            padding: 4px 0;
            position: absolute;
            bottom: 47px !important;
            left: 30px !important;
            right: initial !important;
            top: initial !important;
            width: auto !important;
            border-radius: 0 !important;

            @media screen and (max-width: 992px) and (orientation: landscape) and (max-height: 450px) {
                bottom: 28px !important;
            }
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin: 0 10px 0 0 !important;
            display: inline-block;
            border-radius: 0;
            border: none;
            background: #fff;
            opacity: .7;
            text-indent: -3000px;
            font-size: 0;
            overflow: hidden;
            cursor: pointer;
        }

        .swiper-pagination-bullet-active {
            background-color: var(--secondary-color);
            opacity: 1;
        }
    }

    &__text {
        .project__slide-info, .project__slide-img {
            @media (min-width: 768px) {
                width: 50%;
            }
        }

        .project__slide-info {
            @media (min-width: 992px) {
                width: 40%;
            }
        }

        .project__slide-img {
            @media (min-width: 992px) {
                width: 60%;
            }
        }
        
        .project__slide-info {
            @media (min-width: 1250px) {
                width: 30%;
            }
        }

        .project__slide-img {
            @media (min-width: 1250px) {
                width: 70%;
            }
        }
    }

    &__nav {
        &-item {
            border: 1px solid var(--white-alt);
            color: var(--white-color);
            border-radius: 10px;
            background-color: transparent;
            padding: 0.5rem;
            line-height: 1;
            cursor: pointer;
            z-index: 2;
            transition-duration: 0.4s;
            transition-timing-function: ease-out;
            font-size: 2rem;
            pointer-events: all;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }

            &:focus, &:active {
                background-color: var(--white-color);
                color: var(--primary-color);
            }

            @media screen and (min-width: 992px) {
                padding: 0.75rem;
            }

            &.swiper-button-disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }

        &-next {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translate(-1rem, -50%);

            @media screen and (min-width: 992px) {
                right: 1rem;
            }
        }

        &-prev {
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translate(1rem, -50%);

            @media screen and (min-width: 992px) {
                left: 1rem;
            }
        }

        &-fullscreen {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
    }
}

.gslide img {
    border-radius: 0 !important;
}

.glightbox-clean {
    @media screen and (max-width: 768px) {
        .gprev, .gnext {
            top: 90% !important;

            &.disabled {
                opacity: 0.5;
            }
        }

        .gprev {
            left: 1rem !important;
        }

        .gnext {
            right: 1rem !important;
        }
    }
}
